<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.harism.fplus"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <!-- First launch activity -->
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Facebook login activity -->
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <!-- Main/Feed activity -->
        <activity
            android:name=".FeedActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <!-- Facebook SDK login activity -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

</manifest>